* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style:none;
    font-family: 'Signika', sans-serif;
}
body{
	margin: 0;
    padding: 0;
    border: 0;
    background-color: #eeeeee;
}

img{
	max-width: 100%;

}

.menu{
    background-color: #0094cf;
    height: 6rem;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20vw;
    
             
}

.menu .nav-button{
	height: 3rem;
	width: 12rem;
	background: #FFFFFF;
	border-radius: 4px;
	color: #0094cf;
	border-color: #0094cf;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 14px;
	padding-right: 14px;
	font-weight: 500;
	
}
.nav-button:hover{
	background: #0094cf;
	color: #FFFFFF; 
	border: 1px solid #FFFFFF;
	text-decoration: none;
}

.main{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: 50px;
	flex-direction: column;
}

.container-register{
	width: 40vw;
	height: 60vh;
	background: white;
	display: flex;
	align-content: center;
	justify-content: center;
}
.container-list{
	width: 60vw;
	min-height: 10vh;
	background: white;
	padding: 5px;
	
}

.title{

}

.form-control{
	display: inline-flex;
}

.form-button{
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}

.button-register{
	height: 3rem;
	width: 12rem;
	background: #0094cf;
	border-radius: 4px;
	color: #FFFFFF;
	border-color: #0094cf;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 14px;
	padding-right: 14px;
	font-weight: 500;

}
.button-register:hover{
    background: #FFFFFF;
    color: #0094cf;
    border: 1px solid #0094cf;
}

.link-back-home{
	font-size: 0.8rem;
}

.container-button{
	height: 1.5rem;
	min-width: 4rem;
	background: #FFFFFF;
	border-radius: 4px;
	color: #0094cf;
	border: 1px solid #0094cf;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 2px;
	padding-right: 2px;
	font-weight: 500;
	font-size: 0.7rem;
	text-decoration: none;
}
.container-button:hover{
	text-decoration: none;
	background: #0094cf;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.borda{
	border: 1px dotted red;
}
.btn-primary{
	background: #0094cf; 
	font-weight: 500;
}
.btn-primary:hover{
	background: #FFFFFF; 
	font-weight: 500;
	color: #0094cf; 
}

.container-add{
	width: 30vw;
	min-height: 10vh;
	background: white;
	padding: 5px;
	
}
.container-config{
	width: 30vw;
	min-height: 10vh;
	background: white;
	padding: 5px;
	
}
.remove-button{
	color: red;
	background: none;
	font-weight: 500;
	text-decoration: underline;
	border: none;
}

.darkblue{
	color: #004768;
	font-weight: bolder;
}
